* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans',
        sans-serif;
}

p {
    color:gray;
    font-size: 10px;
    font-weight: bold;
}

.artist {
    margin-top: 10px;
}


header{
    padding: 5px;
    background-color: #2e3a46;
    position: fixed;
    width: 100%;
}

.logo {
    width: 40px;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1e2d3b;
    padding-top: 100px;
    height: 100vh;
    width: calc(20% - 40px);
    width: 100%;
}

.imaginiAlbum {
    text-align: center;
    width: calc(20% - 40px);
    padding: 5px;
}

.album {
    width: 100px;
}

.titolo {
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    max-width: 100px;
    margin: auto;
}

.bkgSquare{
    background: #2e3a46;
    padding: 12px;
    padding-top: 95px;
    padding-bottom: 115px;
      
}