* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans',
        sans-serif;
}

p  {
    color:gray;
    font-size: 12px;
    font-weight: bold;
}

.artist {
    padding-top: 5px;
}

header{
    padding: 10px;
    background-color: #2e3a46;
    position: fixed;
    width: 100%;
}

.logo {
    width: 60px;
}

.box {
    padding: 100px;
    display: flex;
    justify-content: center;
    background-color: #1e2d3b;
    height: 100vh;
    max-width: 100%;
    margin: auto;
}

.imaginiAlbum {
    margin: 10px;
    text-align: center;
    margin-top: 40px;
}

.album {
    width: 100px;
}

.titolo {
    width: 135px;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

.bkgSquare{
    background: #2e3a46;
    padding: 15px;
    padding-top: 100px;
    padding-bottom: 125px;
}