* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans',
        sans-serif;
}

header{
    padding: 10px;
    background-color: #2e3a46;
    position: fixed;
    width: 100%;
}

.logo {
    width: 60px;
}

.box {
    padding: 100px;
    display: flex;
    justify-content: center;
    background-color: #1e2d3b;
    height: 100vh;

}

.imaginiAlbum {
    margin: 30px;
    text-align: center;
}

.album {
    width: 150px;
}

.titolo {
    width: 135px;
    padding: 15px;
    color: white;
   
}